* {
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --primary-hover: #0056b3;
    --text-color: #333;
    --bg-light: #f9f9f9;

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    color: var(--text-color);
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.navbar .cta-button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;

}

.navbar .cta-button:hover {
    background-color: var(--primary-hover);
    transition: background-color 0.3s ease;

}

@media (max-width: 480px) {
    .nav-links {
        display: none;
    }
}



/* Banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 5%;
    background-color: lightblue;
    flex-wrap: wrap;
    gap: 30px;
}

.banner .left-banner {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.banner .left-banner h1 {
    font-size: 48px;
    color: var(--text-color);
    margin-bottom: 15px;
}

.banner .left-banner p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.banner .left-banner .button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.banner .left-banner .button:hover {
    background-color: var(--primary-hover);
    transition: background-color 0.3s ease;

}

.banner .right-banner {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .right-banner img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .left-banner {
        order: 2;
    }

    .left-banner h1 {
        font-size: 36px;
    }

    .left-banner p {
        font-size: 16px;
    }
}


/* Our Client */
.our-client {
    padding: 50px 5%;
    text-align: center;
    background-color: #fff;
}

.our-client h2 {
    font-size: 2rem;
    color: var(--text-color);
}

.c-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.clogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
}

.clogo img {
    max-width: 80%;
    max-height: 70%;
    object-fit: contain;
}

@media (max-width: 480px) {
    .c-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .clogo {
        max-width: 100%;
        margin-bottom: 0;
    }
}


/* Power Of Blockchain */
.pob {
    padding: 50px 5%;
    text-align: center;
    background-color: var(--bg-light)
}

.pob h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 40px;
}

.b-sectors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sector-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    text-align: center;
}

.sector-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.sector-card .icon {
    font-size: 40px;
    color: var(--primary-color);
}

.sector-card h3 {
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 15px;
}

.sector-card p {
    font-size: 16px;
    color: #666
}

@media (max-width: 480px) {
    .b-sectors {
        flex-direction: column;
        align-items: center;
    }

    .sector-card {
        min-width: unset;
        max-width: 90%;

        margin-bottom: 20px;
    }
}


/* Helping Blockchain */

.helping-blockchain {
    padding: 50px 5%;
    background-color: lightblue;
    max-width: 1200px;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.text-content {
    flex: 1 1 300px;
    max-width: 500px;
}

.helping-blockchain h2 {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 15px;
    text-align: left;
}

.subtext {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.stats-grid {
    flex: 1 1 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.stat-item {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    max-width: calc(50% - 20px);
}

.icon {
    font-size: 32px;
    color: rgb(61, 125, 61);
    flex-shrink: 0;
}

.text-group {
    display: flex;
    flex-direction: column;
}

.number {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
    line-height: 1.2;
}

.description {
    font-size: 1rem;
    margin-top: 4px;
    color: #666;
}

@media (max-width: 480px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        text-align: center;
    }

    .stats-grid {
        justify-content: center;
    }

    .stat-item {
        max-width: 100%;
        flex: 1 1 100%;
    }
}


/* Blockchain Future */

.blockchain-future {
    padding: 50px 5%;
    text-align: center;
    background-color: var(--bg-light)
}

.blockchain-future h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 40px;
}

.future-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.future-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-width: 280px;
    max-width: 350px;
}

.future-card:hover {
    background-color: lightblue;
    transform: translateY(-5px);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.future-card .card-img {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.future-card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.future-card .card-content {
    padding: 20px;
    text-align: left;
}

.future-card h3 {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.future-card p {
    font-size: 0.9375rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.future-card .button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.future-card .button:hover {
    background-color: var(--primary-hover);
}


@media (max-width: 480px) {
    .future-card-container {
        flex-direction: column;
        align-items: center;
    }

    .future-card {
        min-width: unset;
        max-width: 90%;

        margin-bottom: 20px;
    }
}

/* Contact US */
.contact-us {
    padding: 50px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.contact-image-container {
    flex: 1;
    min-width: none;
    max-width: 500px;
    background-color: #e0e0e0;
    height: 400px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-weight: bold;
    font-size: 22px;
}

.contact-image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.contact-form-container {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 30px;
    background-color: var(--bg-light);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 30px;
    text-align: center;
}

.contact-form-container .form-group {
    margin-bottom: 20px;
}

.contact-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.contact-form-container input,
textarea {
    width: calc(100%-24px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contact-form-container textarea {
    resize: vertical;
    min-height: 120px;
}

.contact-form-container button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 480px) {
    .contact-us {
        flex-direction: column;
        align-items: center;
    }


    .contact-image-container {
        order: 1;
        width: auto;
        margin-bottom: 30px;
    }

    .contact-form-container {
        order: 2;
        max-width: 90%;

        padding: 20%;
    }
}

/* footer */

.footer {
    background-color: var(--text-color);
    color: white;
    padding: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    max-width: 280px;
}

.footer-column .logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li:first-child a {
    font-size: 18px;
    font-weight: bold;
    color: #eee;
    pointer-events: none;
    cursor: default;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-column ul li a:hover {
    color: var(--primary-color);
}

.footer-social-icon {
    margin-top: 15px;
}

.footer-social-icon a {
    color: white;
    font-size: 20px;
    margin-right: 15px;
}

.footer-social-icon a:hover {
    color: var(--primary-color);
}

.newsletter {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.newsletter input {
    width: calc(100% - 80px);
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.newsletter button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--primary-hover);
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #555;
    font-size: 14px;
    color: #ccc;
}


@media (max-width: 480px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        max-width: 100%;
        width: 100%;
    }

    .footer-column ul {
        text-align: center;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsletter input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .newsletter button {
        border-radius: 5px;
        width: 100%;
    }
}